<%= form_for(@carrinho) do |f| %>
  <% if @carrinho.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carrinho.errors.count, "error") %> prohibited this carrinho from being saved:</h2>

      <ul>
      <% @carrinho.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
